.page-padding {
  padding-top: 50px;
  padding-right: 160px;
  padding-bottom: 50px;
  padding-left: 160px;
}

.center-text{
  text-align: center;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
